
<!DOCTYPE html> <!-- This defines the document type and version of html -->
{% load static %} <!-- Django template tag that loads the static files in the template -->
<html lang="en"> <!--Opening html tag with language attribute for english -->
<head> <!-- head section contains metadata and links to bootstrap which comes with styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no">

    <title>{% block title %} The Website {% endblock %}</title> <!-- This defines the title of the page -->
   <!-- block title tag allows child templates to override the default title "The Website" -->

    <link rel="stylesheet" href="{% static 'styles.css' %}"> <!--Loads a custom CSS file.-->
    <!-- It is linked using the static tag which tells Django to look in the static folder for the file -->

    {% block extra_styles %}
    {% endblock %}

</head>
<body>
    
    <header class="header_footer"> <!-- Header section -->
        <h1 id="title">Logic Learn</h1>
        <!--<a href="{% url 'register' %}">Register</a> --> <!-- -->
        <!-- <a href="">Login</a> -->
        <!--<a href="{% url 'progress' %}">Progress</a> -->
        
    </header>

    <main> <!-- Main content of page -->
        <div class="overlay">
            <div id="content" name="content">
           
            {% block content %} <!-- This block allows child templates to define their main content -->
                <h1>Welcome to Logic Learn!</h1> <!-- All this content is the content for the home page -->

                <h2>Choose an option:</h2>
                <ul>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    
                    <!-- Add more options here -->
                    <li><a href="{% url 'about' %}">What is Logic Learn?</a></li>
                </ul>
            </div>
            {% endblock %}
        </div>
        
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
</body>
</html>

