
<!DOCTYPE html> <!-- This defines the document type and version of html -->
{% load static %} <!-- This is a Django template tag that loads the static files in the template -->
<html lang="en"> 
<head> <!-- This head section contains metadata and links to bootstrap which comes with styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no">

    <title>{% block title %} The Website {% endblock %}</title> <!-- This gives the title of the page -->
   <!-- block title tag will allow child templates to override the default title "The Website" -->

    <link rel="stylesheet" href="{% static 'styles.css' %}"> <!--Links to my static CSS file -->
    

    {% block extra_styles %}
    {% endblock %}

</head>
<body>
    
    <header class="header_footer"> <!-- Header section -->
        <h1 id="title">Logic Learn</h1>
        <!--<a href="{% url 'register' %}">Register</a> --> <!-- -->
        <!-- <a href="">Login</a> -->
        <!--<a href="{% url 'progress' %}">Progress</a> -->
        
    </header>

    <main> 
        {% block content %}
        <div style="background-color: white; color: black; padding: 20px; font-family: Arial, sans-serif;">
            <h1>Welcome to Logic Learn</h1>
            <p>Choose an option:</p>
    
            <div style="display: flex; flex-direction: column; gap: 15px; margin-top: 20px;">
                
                <a href="{% url 'register' %}" style="padding: 10px 20px; background: black; color: white; text-decoration: none; border-radius: 5px;">Sign Up</a> 
        
                <a href="{% url 'login' %}"style="padding: 10px 20px; background: black; color: white; text-decoration: none; border-radius: 5px;">Login</a> 

                <a href="{% url 'about' %}" style="padding: 10px 20px; background: black; color: white; text-decoration: none; border-radius: 5px;">What is Logic Learn?</a> 

            </div>
        </div>
        {% endblock %}
        
        
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
</body>
</html>

